NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
NEXT_PUBLIC_BACKEND_API_URL=http://localhost:8000/v1
NEXT_PUBLIC_WHATSAPP_PHONE=the_whatsapp_phone_of_your_support
NEXT_PUBLIC_TELEGRAM_USERNAME=the_tg_username_of_your_support